.loading-container{
	height: 60px;
}

.loading-container.overlay{
	background: transparent url(../images/white-overlay.png) repeat 0 0;
	background: rgba(255,255,255,0.4);
}

.loading-container.overlay{
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: 1030;

	cursor: progress;
}