- for item, i in items 
	li
		if i < items.length - 1 || !(items.length - 1)
			a(href="#{item.url}") #{item.name} 							
		else if item.name != null
			span(class="divider")>>	
			span(class="last") #{item.name}