
button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target=".navbar-responsive-collapse")
	.icon-bar
	.icon-bar
	.icon-bar

a.navbar-brand(href="/") MyApp

.nav-collapse.collapse.navbar-responsive-collapse

	nav#nav.navbar-nav

	form.navbar-form.pull-left(action="#", method="get")
		input.form-control.col-lg-8(type="search", name="q", placeholder="Search")

	ul.nav.navbar-nav.pull-right
		li.dropdown
			a.dropdown-toggle(href="#", data-toggle="dropdown")
				| Hello 
				strong User
				| ! 
				b.caret

			ul.dropdown-menu
				li: a(href="#") Manage account
				li: a(href="#") Logout