if DisplayName
	li.dropdown
		a.dropdown-toggle(data-toggle="dropdown", href="#") Welcome #{DisplayName} 
			b.caret
		ul.dropdown-menu
			li 
				a.password(href="#change_password") Change Password
			li
				a.logout(href="#logout") Logout