a.navbar-brand(href="/") invoicejs

nav#nav.navbar-nav

form.navbar-form.pull-left(action="#", method="get")
	.input-group(style="width: 300px;")
		input.form-control(type="search", name="q")
		span.input-group-btn 
			button.btn.btn-default(type="button") Search

button.btn.btn-default.navbar-btn.pull-right(type="button")
	| Hello 
	strong Craig
	| !